<!DOCTYPE html>
<html>
<head>
    <title>¿Cerrar sesión?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5 col-10 col-md-4">
    <div class="card shadow p-4 text-center">

        <h4>¿Seguro que quieres cerrar sesión?</h4>

        <form method="POST" class="mt-4">
            <button class="btn btn-danger w-100 mb-2">Cerrar sesión</button>
        </form>

        <a href="/contador" class="btn btn-secondary w-100">Cancelar</a>

    </div>
</div>

</body>
</html>